<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AB Infotech Solutions Pvt Ltd</title>
    <link rel="icon" href="img/icon.png" type="image/x-icon" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
      <h2 class="m-0 text-primary">
        <img src="./img/logo.jpg" alt="company-logo" id="company-logo" />
      </h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
        <a href="/index" class="nav-item nav-link active">Home</a>
        <a href="/itsolutions" class="nav-item nav-link">IT Solutions</a>
        <a href="/about" class="nav-item nav-link">About Us</a>
        <a href="/gallery" class="nav-item nav-link">Gallery</a>
        <a href="/careers" class="nav-item nav-link">Careers</a>
        <a href="/contact" class="nav-item nav-link">Contact</a>
      </div>
      <a href="/form" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i
          class="fa fa-arrow-right ms-3"></i></a>
    </div>
  </nav>
  <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Gallery</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Gallery</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    
      <div id="Newgallery">
        <div id="gcontainer">
          <div id="gcontainer__items">


        
            <div class="polaroid five">
              <div class="polaroid__content">
                <div class="polaroid__content-image">
                <img src='AB gallery/WhatsApp Image 2024-11-26 at 14.14.08_ab8c9cf3.jpg' alt=''>
                </div>
                <div class="polaroid__content-caption">
                  <p>Our Company's Director</p>
                </div>
              </div>
            </div>     
            
            <div class="polaroid seven">
              <div class="polaroid__content">
                <div class="polaroid__content-image">
                <img src='AB gallery/WhatsApp Image 2024-11-26 at 16.55.27_32c7b0dc.jpg' alt=''>
                </div>
                <div class="polaroid__content-caption">
                  <p>Webdev Team</p>
                </div>
              </div>
            </div>    

        <div class="polaroid ten">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
           <img src='AB gallery/WhatsApp Image 2024-11-26 at 16.55.27_af93726b.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Core team</p>
            </div>
          </div>
        </div>    


        <div class="polaroid two">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
             <img src='AB gallery/WhatsApp Image 2024-11-26 at 14.14.03_c735f41d.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Interactive Learning Sessions
              </p>
            </div>
          </div>
        </div>
            
        <div class="polaroid one">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
              <img src='AB gallery/WhatsApp Image 2024-11-26 at 14.14.02_a9e6f61f.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Interactive Learning Sessions
              </p>
            </div>
          </div>
        </div>

        <div class="polaroid ten">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
           <img src='AB gallery/WhatsApp Image 2024-11-26 at 16.55.27_d77f7e91.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Guidance and Mentorship</p>
            </div>
          </div>
        </div>
               
        <div class="polaroid nine">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-11-26 at 16.55.27_5235b4ec.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>study buddy</p>
            </div>
          </div>
        </div>
              
        <div class="polaroid four">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-11-26 at 14.14.08_2b61afaf.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Skill Development Workshops</p>
            </div>
          </div>
        </div>
        
        <div class="polaroid ten">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
           <img src='AB gallery/WhatsApp Image 2024-11-26 at 16.55.27_9877bc22.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Guidance and Mentorship</p>
            </div>
          </div>
        </div>
        
        
        <div class="polaroid six">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-11-26 at 14.14.12_352e6784.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Skill Development Workshops</p>
            </div>
          </div>
        </div>
        
                
        <div class="polaroid eight">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-11-26 at 17.54.00_0e4fba4e.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Meeting with Raisoni College Mentors</p>
            </div>
          </div>
        </div>

        <div class="polaroid eight">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='/AB gallery/WhatsApp Image 2024-11-13 at 14.17.43_d8b21bcb.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Virtual Meet with Raisoni College Mentors</p>
            </div>
          </div>
        </div>
        
        <div class="polaroid eight">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-11-28 at 17.16.38_1b465048.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Raisoni Grey Book Submissions</p>
            </div>
          </div>
        </div>

        <div class="polaroid eight">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-11-28 at 17.31.24_7332b0cf.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Raisoni Grey Book Submissions</p>
            </div>
          </div>
        </div>

        <div class="polaroid eight">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-11-28 at 17.31.31_74f01ac7.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Raisoni Grey Book Submissions</p>
            </div>
          </div>
        </div>

        <div class="polaroid eight">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-11-29 at 14.29.28_a2e41523.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Raisoni Grey Book Submissions</p>
            </div>
          </div>
        </div>

        <div class="polaroid eight">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-12-06 at 11.25.32_bf723f5f.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Campus Drive at Dr D.Y. Patil College, Pune</p>
            </div>
          </div>
        </div>


        <div class="polaroid eight">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-12-06 at 11.25.27_4d05eb48.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Campus Drive at Dr D.Y. Patil College, Pune</p>
            </div>
          </div>
        </div>


        <div class="polaroid eight">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-12-06 at 11.25.40_139a5af8.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Campus Drive at Dr D.Y. Patil College, Pune</p>
            </div>
          </div>
        </div>
               
        <div class="polaroid three">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
            <img src='AB gallery/WhatsApp Image 2024-11-26 at 14.14.06_4725f3a2.jpg' alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p>Women in Engineering Initiative</p>
            </div>
          </div>
        </div>
        
                    
          </div>
        </div>
        <!-- partial -->
        <script  src="./script.js"></script>

      </div>
      
        
    <!-- Footer Start -->
  <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-3">Quick Link</h4>
          <a class="btn btn-link" href="">About Us</a>
          <a class="btn btn-link" href="">Contact Us</a>
          <a class="btn btn-link" href="">Privacy Policy</a>
          <a class="btn btn-link" href="">Terms & Condition</a>
          <a class="btn btn-link" href="">FAQs & Help</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-3">Contact</h4>
          <p class="mb-2">
            <i class="fa fa-map-marker-alt me-3"></i>2nd Floor Sadamangal
            corporate society 100 meters from Master card tower, Nagar Road,
            Yerawada, Pune, Maharashtra, India 411015
          </p>
          <p class="mb-2">
            <i class="fa fa-phone-alt me-3"></i>+91 8999897754 <br />
            <i class="fa fa-phone-alt me-3"></i>+91 7709227068
          </p>
          <p class="mb-2">
            <i class="fa fa-envelope me-3"></i>info.abis09@gmail.com
          </p>
          <div class="d-flex pt-2">
            <!-- <a class="btn btn-outline-light btn-social" href=""
                ><i class="fab fa-twitter"></i
              ></a> -->
            <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/share/Yj64fSdWbprW79T9/"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/@abinfotechsolutions"><i
                class="fab fa-youtube"></i></a>
            <!-- <a class="btn btn-outline-light btn-social" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a> -->
            <a class="btn btn-outline-light btn-social"
              href="https://www.instagram.com/ab_infotech_solutions_pvt_ltd/profilecard/?igsh=MWwzMmtva3JvNG4xbA=="><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-3">Gallery</h4>
          <div class="row g-2 pt-2">
            <div class="col-4">
              <img class="img-fluid bg-light p-1" src="img/course-1.jpg" alt="" />
            </div>
            <div class="col-4">
              <img class="img-fluid bg-light p-1" src="img/course-2.jpg" alt="" />
            </div>
            <div class="col-4">
              <img class="img-fluid bg-light p-1" src="img/course-3.jpg" alt="" />
            </div>
            <div class="col-4">
              <img class="img-fluid bg-light p-1" src="img/course-2.jpg" alt="" />
            </div>
            <div class="col-4">
              <img class="img-fluid bg-light p-1" src="img/course-3.jpg" alt="" />
            </div>
            <div class="col-4">
              <img class="img-fluid bg-light p-1" src="img/course-1.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-3">Newsletter</h4>          
          <img id="myImg" src="/img/WhatsApp Image 2024-12-14 at 19.26.59_277f5100.jpg" alt="Newsletter" style="width:50%;max-width:150px">

          <!-- The Modal -->
          <div id="myModal" class="modal">

            <!-- The Close Button -->
            <span class="close">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
          </div>          
          <!-- 
          <p>
            Stay informed and never miss an update! Subscribe to our
            newsletter for the latest news, tips, and exclusive insights
            delivered straight to your inbox
          </p>
          <div class="position-relative mx-auto" style="max-width: 400px">
            <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email" />
            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">
              SignUp
            </button>
          </div>
        -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy;
            <a class="border-bottom" href="#">AB Infotech Solutions Pvt Ltd</a>, All Right Reserved.

            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            Designed By
            <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
          </div>
          <div class="col-md-6 text-center text-md-end">
            <div class="footer-menu">
              <a href="">Home</a>
              <a href="">Cookies</a>
              <a href="">Help</a>
              <a href="">FQAs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>